<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>{% if form.instance.pk %}{{ form.instance.title }}{% else %}Create Post{% endif %}</title>
</head>
<body class="bg-gray-100 max-w-md mx-auto">
  <div class="px-4 py-10 max-w-3xl mx-auto sm:px-6 sm:py-12 lg:max-w-4xl lg:py-16 lg:px-8 xl:max-w-6xl">
    <h1 class="text-2xl mt-10">{% if form.instance.pk %}Edit {{ form.instance.title }}{% else %}Create Post{% endif %}</h1>

    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="mt-4 text-white font-bold bg-indigo-500 rounded px-5 py-3 capitalize">Submit</button>
    </form>
  </div>
</body>
</html>


